{% assign popular_pages = site.pages['/'].pages_in_list | order_by: '-visit_count' | limit: 6 %}

<div class="px-4 pt-6 pb-8 space-y-4 bg-white rounded-md shadow-sm shadow-gray-200 lg:px-6 lg:pt-6 lg:pb-10">
  <h4 class="text-base font-semibold text-gray-800 ">{{ 'generic.popular_articles' | t }}</h4>
  <div class="space-y-4">
    {% for item in popular_pages %}
      {% assign desc = item.settings.content | truncate: 80 | strip_html  %}
      <a href="{{ item.path }}" class="flex items-start col-span-1 space-x-4 hover:bg-gray-100">
        {% if item.settings.icon %}
          <img src="{{ item.settings.icon }}" class="w-10 h-10 rounded-md" alt="{{ item.link_text }}"/>
        {% else %}
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6 w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z">
            </path>
          </svg>
        {% endif %}
        <div>
          <span class="font-semibold text-gray-800 transition-colors duration-300 hover:text-blue-600">
            {{ item.link_text }}</span>
          <p class="block mb-1 text-xs text-gray-500">{{ item.settings.description | default: desc }}</p>
        </div>
      </a>
    {% endfor %}
    
  </div>
</div>